# Built files
*.apk
*.aab
*.ap_
*.aar

# Gradle files
.gradle/
build/
captures/
.idea/
*.iml
local.properties

# Keystore files
*.jks
*.keystore

# Firebase
google-services.json

# Остальные стандартные исключения для Android
*.log
*.kt
*.kts
*.dex
*.class
/bin/
/gen/
/release/
.DS_Store

# Kotlin
.metadata
.recompose/
.kotlin_module

# Для KSP/generated
build/generated/